/*body{
    background-color: #f2f2f2;
}*/
.slide-text{
    display: flex;
    font-size: 12px;
}

.artes{
    overflow: hidden;
}
#sliderr{
    padding-left: 40px;
}


.slide-text h2{
    color: aliceblue;
    font-size: 20px;
}

ul li{
    font-family: ufc;
    list-style: none;
    color: red;
    font-weight: 20px;
}


ul{
    width: 220px;
    height: 70px;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

li{
    height: 70px;
    top: 100%;
    font-size: 27px;
}

li:first-child{
    top: 100%;
}

li:last-child{
    top: 300%;
}

@keyframes slide{
    0%{
        transform: translateY(0);
    }

    15%, 30%{
        transform: translateY(-100%);
    }

    45%, 60%{
        transform: translateY(-200%);
    }

    75%, 90%{
        transform: translateY(-300%);
    }

    100%{
        transform: translateY(-400%);
    }
}


#mujer{
    color: palevioletred;
}

img{
    width: 200px;
    height: 200px;
}

/*titulo y barra*/
body{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-family: ufc;
    color: #1b538e;
}
#mover{
    margin-left: 20px;
}

#moveru{
    width: 70px;
    height: 30px;
    padding: 13px;
}

.container{
    background-color: rgb(0, 0, 0);
    height: 55px;
    display: flex;
}


.container a{
    text-decoration: none;
    font-size: 25px;
    height: 42px;
    width: 120px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: aliceblue;
}

.container a:hover{
    background-color: #1b538e;;
}

@font-face{
    font-family: ufc;
    src: url(../fuentes/ufc.otf);
}

.container img{
    margin-left: 10px;
    width: 60px;
    height: 50px;
}


/*interfaz principal-------------------------------------------------*/
#quitar{
    padding: 0;
    margin: 0;

}


.interfaz{
    background-color: #f2f2f2;
    width: 100%;
    height: 600px;
    display: flex;
}

.portada{
    margin-left: 50px;
    display: block;
}


.imagenP1{
    padding-top: 20PX;
    width: 500px;
    height: 300px;
}

.imagenP2{
    width: 500px;
    padding-top: 20PX;
    height: 200px;
}


.imagenP3{
    margin-left: 20px;
    width: 300px;
    height: 300px;
    padding-right: 30px;
}

.imagenP31{
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    padding-right: 30px;
}

.portada1{
    margin-top: 20px;
    margin-right: 200px;
}

.menu{
    width: 200px;
    margin-top: 20px;
    margin-left: 85px;
    padding-left: 320px;
    height: 525px;
    background-image: url(../img/floyd.jpg);
    background-size: cover;
}

/*primera division-------------------------------------------------*/


.general{
    padding-top: 50px;
    display: flex;

}

.container1{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    background-image: url("../img/guantes.jpg");
    background-size: cover;
}

.container1:hover{
    background-image: url("../img/guantes2.jpg");
    width: 200px;
    height: 200px;
    background-size: cover;
}

.container12{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    background-image: url("../img/saco.jpg");
    background-size: cover;
}

.container12:hover{
    background-image: url("../img/saco2.jpg");
}

.container13{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    background-image: url("../img/vendas.jpg");
    background-size: cover;
}

.container13:hover{
    background-image: url("../img/vendas2.jpg");
}

.container14{
    width: 200px;
    height: 200px;
    background-image: url("../img/mma.jfif");
    margin-left: 60px;
    background-size: cover;
}

.container14:hover{
    background-image: url("../img/mma2.jfif");
}

.container15{
    width: 200px;
    height: 200px;
    background-image: url("../img/SSSSSSSS.jpg");
    margin-left: 60px;
    background-size: cover;
}

.container15:hover{
    background-image: url("../img/sdd.jpg");
}



/*segunda divsion...................................................*/

.general2{
    display: flex;
}
.container2{
    margin-top: 20px;
    width: 200px;
    margin-left: 61px;
    background-color:#1b538e;
    border-radius: 90px;
    height: 40px;
    color: aliceblue;

}

.container2 h2 {
    text-align: center;
    margin: 5px;
}

.container2 h2:hover{
    background-color: #212121;
    border-radius: 90px;
    height: 40px;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
.texto{
    padding-top: 10px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.texto1{
    color: #1b538e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

.oferta{
    display: flex;
    padding-top: 1px;
}

.oferta p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 4px;
    font-size: 12px;
    padding-top: 5px;
}
.oferta img{
    width: 20px;
    height: 20px;
    margin-left: 55px;
}
/* prubaaaa divsion ----------------------------------------------------------*/
.general{
    display: flex;
}

.container1d{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    background-image: url("../img/venum.jpg");
    background-size: cover;
}

.container1d:hover{
    background-image: url("../img/venum1.jpg");
    width: 200px;
    height: 200px;
    background-size: cover;
}

.container12d{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    background-image: url("../img/casco.jpg");
    background-size: cover;
}

.container12d:hover{
    background-image: url("../img/casco1.jpg");
}

.container13d{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    background-image: url("../img/bola1.jpg");
    background-size: cover;
}

.container13d:hover{
    background-image: url("../img/bola.jpg");
}

.container14d{
    width: 200px;
    height: 200px;
    background-image: url("../img/shor.jpg");
    margin-left: 60px;
    background-size: cover;
}

.container14d:hover{
    background-image: url("../img/shor1.jpg");
}

.container15d{
    width: 200px;
    height: 200px;
    background-image: url("../img/ree.jpg");
    margin-left: 60px;
    background-size: cover;
}

.container15d:hover{
    background-image: url("../img/ree1.webp");
}


/*separacion -------------------------------------------------*/

.separacion{
    width: 1348px;
    height: 200px;
    color: white;
    background-image: url(../img/bannne.png);
    background-size: cover;
}

.separacion1{
    display: flex;
    margin-left: 300px;

}

.izquierda{
    float: left;
    
}

.derecha{
    float: right;
    padding-left: 600px;
}


/*tercera divsion ----------------------------------------------------------*/


.general3{
    display: flex;
    margin-left: 200px;
}
.container3{
    margin-top: 80px;
    width: 400px;
    height: 400px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
}

.container3 img{
    width: 400px;
    height: 400px;
}

.container3 img{
    width: 400px;
    height: 400px;
}




/*cuarta divsion ----------------------------------------------------------*/

.general4{
    display: flex;
}

.container4{
    width: 300px;
    height: 200px;
    background-color: blue;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

#mover2{
    margin-left: 180px;
}

.container4 img{
    width: 300px;
    height: 200px;
}
.container4 p{
    border-bottom: 1px solid rgb(196, 194, 194) ;
}

.container4 .carrito{
    display: flex;

}

.container4 .carrito img{
    width: 20px;
    height: 20px;
    padding-top: 22px;
    padding-left: 5px;
}

#imagen-corazon{
    padding-left: 215px;
}


/*quinta divsion ----------------------------------------------------------*/

.general5{
    display: flex;
}

.container5{
    width: 300px;
    height: 200px;
    background-color: blue;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

.container5 img{
    width: 300px;
    height: 200px;
}

.container5 p{
    border-bottom: 1px solid rgb(196, 194, 194) ;
}

.container5 .carrito{
    display: flex;

}

.container5 .carrito img{
    width: 20px;
    height: 20px;
    padding-top: 22px;
    padding-left: 5px;
}

/*sesta divsion ----------------------------------------------------------*/

.general6{
    margin-top: 90px;
    margin-bottom: 60px;
    margin-left: 180px;
    width: 1000px;
    height: 600px;
    background-size: cover;
}


.slider{
    background-image: url(../img/dustin.jpg);
    background-size: cover;
    width: 1000px;
    height: 600px;
    animation: animate 10s infinite;
}

@keyframes animate {
    20%{
        background-image: url(../img/mac.jfif);
        background-size: cover;
    }

    40%{
        background-image: url(../img/ga.webp);
        background-size: cover;
    }

    60%{
        background-image: url(../img/ed.jpg);
        background-size: cover;
    }

    80%{
        background-image: url(../img/ja.jpg);
        background-size: cover;
    }

    100%{
        background-image: url(../img/has.webp);
        background-size: cover;
    }
}

/*septima divsion ----------------------------------------------------------*/

@font-face{
    font-family: letra;
    src: url(../fuentes/SeymourOne-Regular.ttf);
}

.general7{
    width: 100%;
    height: 280px;
    background-color: #212121;
    color: white;
    text-align: center;
}

.division1{
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
    font-family: letra;
}

.division2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.division3 a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.division3 a:hover{
    color: gray;
}

.division4 img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
}





/*seccion de cabera animacion 2*/





.slide-text2{
    display: flex;
    font-size: 12px;
}

.artes2{
    overflow: hidden;
}
#sliderr{
    padding-left: 40px;
}


.slide-text2 h2{
    color: aliceblue;
    font-size: 20px;
}

.artes2 ul li{
    font-family: ufc;
    list-style: none;
    color: blue;
    font-weight: 20px;
}


.artes2 ul{
    width: 220px;
    height: 70px;
    animation: slide 15s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

.artes2 li{
    height: 70px;
    top: 100%;
    font-size: 27px;
}

.artes2 li:first-child{
    top: 100%;
}

.artes2 li:last-child{
    top: 300%;
}

@keyframes slide{
    0%{
        transform: translateY(0);
    }

    15%, 30%{
        transform: translateY(-100%);
    }

    45%, 60%{
        transform: translateY(-200%);
    }

    75%, 90%{
        transform: translateY(-300%);
    }

    100%{
        transform: translateY(-400%);
    }
}



